body {
  color: rgb(100,100,100);
  background-color: #F6F6F6;
  font-size: 15px;
  font-family: 'Spectral', serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 35px;
  margin: 15px 5px 5px;
  color: rgb(10,10,10);
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}
h3 {
  font-weight: 700;
  color: rgb(10,10,10);
}
a {
  color: rgb(200,200,200);
  text-decoration: none;
}
p {
  font-size: 15px;
}
a:hover {
  color: black;
}
table img {
  width: 300px;
}
.small {
  padding-left: 0;
}
.small li {
  display: inline-block;
}
.small li i {
  font-size: 25px;
  padding-right: 35px;
}
.desc {
  padding: 0 110px 10px;
}
.card-white {
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  margin: 20px auto;
}
.text-center {
  text-align: center;
}
.img-circle {
  border-radius: 50%;
  width: 150px;
}
.shadow {
  box-shadow: 0 4px 7px rgba(0,0,0,0.2);
}
.btn-black {
  background-color: black;
  color: white;
  padding: 10px 15px;
}
.btn-black:hover {
  background-color: rgb(200,200,200);
  color: white;
}
.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 25px;
}
.list-inline li i {
  font-size: 25px;
}
.container-fluid {
  width: 70%;
  margin: 30px auto;
}
#content {
  margin-left: 80px;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background-color: rgb(10,10,10);
  font-size: 20px
}
#sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
#sidebar li {
  margin: 50px 0;
}
#sidebar a:hover {
   color: white;
}
#favorites td {
  padding: 40px;
}
.small a {
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
  .container-fluid {
    width: 90%;
  }
  td img {
    width: 250px;
  }
  #favorites td {
    padding: 10px;
  }
}


